:root {
  --cor-principal: #fe3c00;
  --cor-fundo: #1c1f26;
  --cor-branco: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-principal);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.moedas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}



.moeda {
  width: calc(50% - 10px);
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
}

.logo {
  max-width: 120px;
  margin-bottom: 5px;
}

.container {
  max-width: 950px;
  width: 100%;
  padding: 30px;
  background: var(--cor-branco);
  border-radius: 12px;
  font-size: 16px;
  
  margin-bottom: 70px;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--cor-principal);
  font-size: 24px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--cor-principal);
  font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid var(--cor-principal);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--cor-branco);
  color: var(--cor-principal);
}

.form-group button {
  background: var(--cor-principal);
  color: var(--cor-branco);
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s;
}

.form-group button:hover {
  background: #fe3c00;
  transform: scale(1.05);
}

.result {
  margin-top: 20px;
  padding: 20px;
  background: var(--cor-branco);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0 2px 4px #fe3c00;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.button-group button {
  padding: 10px 20px;
  background: var(--cor-principal);
  color: var(--cor-branco);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s;
}
.bonus-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
  gap: 10px; /* Espaçamento entre os boxes */
  justify-content: center; /* Centraliza os itens */
}

.bonus-box {
  width: calc(50% - 10px); /* Cada box ocupará metade da largura menos o espaço do gap */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

.bonus-box label {
  display: block; /* Faz o rótulo ocupar uma linha inteira */
  margin-bottom: 5px; /* Espaçamento abaixo do rótulo */
}

.bonus-box input[type="number"] {
  width: 100%; /* O campo de entrada ocupa toda a largura do box */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid var(--cor-principal); /* Borda */
  border-radius: 8px; /* Bordas arredondadas */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

.button-group button:hover {
  background: #fe3c00;
  transform: scale(1.05);
}

.historico {
  margin-top: 30px;
  padding: 20px;
  background: var(--cor-branco);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}

.section {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 8px;
}

.section h2 {
  margin-top: 0;
  color: var(--cor-principal);
  font-size: 20px;
  font-weight: 600;
}

.button-group label,
.button-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-principal);
  color: var(--cor-branco);
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  display: flex;
  gap: 5px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  border-radius: 5px;
}

nav ul li a:hover {
  color: #681902;
}

.button-group input[type="radio"] {
  display: none;
}

.button-group label:hover,
.button-group button:hover {
  background: #fe3c00;
  transform: scale(1.05);
}

#minutos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#minutos label {
  background: var(--cor-principal);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  color: var(--cor-branco);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background 0.3s;
}

#minutos input[type="checkbox"] {
  accent-color: var(--cor-principal);
  background-color: #fff;
  border: 1px solid var(--cor-principal);
  border-radius: 4px;
}

#minutos input[type="checkbox"]:checked + label {
  background: var(--cor-principal);
}

#output {
  padding: 20px;
  background: var(--cor-branco);
  border-radius: 8px;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.5;
}

#output a {
  color: var(--cor-principal);
  text-decoration: none;
}

#output a:hover {
  text-decoration: underline;
}

#minuto-green {
  border: 1px solid var(--cor-principal);
  border-radius: 8px;
  font-size: 16px;
  width: calc(100% - 22px);
  background-color: var(--cor-branco);
  color: var(--cor-principal);
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  header {
    padding: 10px;
  }

  .header-content {
    padding: 0 10px;
  }

  .logo {
    max-width: 70px; /* Reduzido para telas menores */
  }

  .button-group label,
  .button-group button {
    padding: 10px 15px; /* Aumentado para facilidade de toque */
  }

  .form-group input[type="text"],
  .form-group input[type="number"] {
    width: 100%; /* Garantir que ocupe 100% da largura */
  }

  .moedas .moeda {
    width: 100%; /* Mudar para 100% em telas menores */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px; /* Reduzido para melhor legibilidade */
  }

  .button-group button,
  .button-group label {
    font-size: 12px; /* Reduzido para telas muito pequenas */
    padding: 8px 10px; /* Ajustado para melhor proporção */
  }

  .container {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}



.banner-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #banner-propaganda {
    width: 90%;
    padding: 10px;
  }

  #fechar-banner {
    padding: 3px 7px;
  }
}

.botao-container {
  text-align: center;
  margin-top: 20px;
}

.botao-link {
  display: inline-block;
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.botao-link:hover {
  background-color: #882102;
  color: var(--cor-principal);
}

/* Aumentar o tamanho das checkboxes */
input[type="checkbox"] {
  width: 24px; /* Ajustado para um tamanho melhor */
  height: 24px; /* Ajustado para um tamanho melhor */
  cursor: pointer; /* Muda o cursor ao passar sobre a checkbox */
  accent-color: #fe3c00; /* Altere para a cor desejada */
}

/* Para estilizar o rótulo e manter o alinhamento */
label {
  display: flex;
  align-items: center; /* Alinha o texto verticalmente com a checkbox */
}
h1, h2, h3 {
  text-align: center; /* Centraliza o texto */
  border-top: 1px solid #fe3c00; /* Linha acima com 50% de opacidade */
  padding-top: 10px; /* Espaçamento acima do título */
  margin-top: 20px; /* Espaçamento antes da linha */
}

.footer {
  max-width: 100%; /* Largura máxima */
  text-align: center; /* Centraliza o texto */
  padding: 5px; /* Espaçamento interno */
color: #fe3c00;
  margin-top: 50px;
  margin: 0 auto; /* Centraliza o footer */
  margin-top: 20px;
}

header {
  position: relative; /* Permite que o conteúdo seja posicionado em relação ao cabeçalho */
  z-index: 1000; /* Garante que o cabeçalho fique acima do conteúdo */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px; /* Adiciona um pouco de espaçamento */
}

.header-content h1 {
  flex-grow: 1;
  text-align: center;
  color: var(--cor-branco);
  margin: 0;
}

.logo {
  max-width: 150px; /* Tamanho máximo da logo */
}

/* Navegação */
nav {
  text-align: center; /* Centraliza os links */
}

nav ul {
  list-style: none; /* Remove o marcador padrão */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex; /* Flex para alinhar horizontalmente */
  justify-content: center; /* Centraliza os itens */
}

nav ul li {
  margin: 0 10px; /* Espaçamento horizontal entre os links */
}

/* Adicionando espaçamento acima do conteúdo */
.content {
  margin-top: 120px; /* Ajuste de acordo com a altura do cabeçalho */
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center; /* Centraliza os itens */
  }

  .logo {
    margin-bottom: 10px; /* Espaçamento abaixo da logo */
  }

  nav ul {
    flex-direction: row; /* Mantém os links em linha */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
    margin-top: 10px; /* Espaçamento acima dos links */
  }

  nav ul li {
    margin: 0 5px; /* Espaçamento ajustado entre os links */
  }
}
.form-group {
  display: flex; /* Ativa o modelo flexível */
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza horizontalmente */
  margin-bottom: 20px; /* Espaçamento entre os grupos de inputs */
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group button {
  width: 100%; /* Faz com que todos ocupem 100% do espaço disponível */
  max-width: 400px; /* Tamanho máximo */
  padding: 10px;
  border: 1px solid var(--cor-principal);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--cor-branco);
  color: var(--cor-principal);
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}
@media (max-width: 768px) {
  .moedas {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    justify-content: center; /* Centraliza os itens */
  }
  
  .moeda {
    flex: 1 1 45%; /* Faz com que cada item ocupe 45% da largura, podendo ajustar conforme necessário */
    margin: 5px; /* Adiciona espaçamento entre os itens */
  }
}


/* Media Query para telas pequenas */
@media (max-width: 480px) {
  #banner-propaganda {
    padding: 8px; /* Reduzir padding */
    max-width: 85%; /* Aumentar um pouco a largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-right: 15px; /* Ajustar margem para a direita */
  }

  h2 {
    font-size: 14px; /* Reduzir o tamanho do título */
    text-align: center; /* Centraliza o título */
  }

  p {
    font-size: 10px; /* Reduzir o tamanho do texto */
    text-align: center; /* Centraliza o texto */
  }

  .botao-link {
    padding: 5px 10px; /* Ajustar o padding do botão */
    text-align: center; /* Centraliza o botão */
  }
}
/* Tamanho unificado para todos os botões em todas as telas */
button,
.button-group button,
.form-group button {
  padding: 18px 36px; /* Tamanho uniforme dos botões */
  font-size: 18px; /* Tamanho unificado da fonte */
  width: 100%; /* Faz os botões ocuparem toda a largura disponível */
  max-width: 350px; /* Limita a largura máxima dos botões */
  border-radius: 8px; /* Adiciona bordas arredondadas para uma aparência suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para realce */
  transition: all 0.3s ease; /* Transição suave ao interagir */
}

button:hover,
.button-group button:hover,
.form-group button:hover {
   /* Efeito de destaque ao passar o mouse */
  transform: scale(1.05); /* Pequeno efeito de aumento ao passar o mouse */
}

/* Estilização dos rótulos dentro de .button-group e .form-group */
.button-group label,
.form-group label {
  font-size: 18px; /* Tamanho unificado dos rótulos */
  margin-bottom: 5px;
  display: block; /* Faz o rótulo ocupar uma linha inteira */
}

/* Para telas até 768px */
@media (max-width: 768px) {
  button,
  .button-group button,
  .form-group button {
    padding: 16px 32px; /* Ajuste do padding para dispositivos médios */
    font-size: 16px; /* Ajusta o tamanho da fonte */
  }

  .button-group label,
  .form-group label {
    font-size: 16px; /* Ajuste do tamanho dos rótulos */
  }
}

/* Para telas até 480px */
@media (max-width: 480px) {
  button,
  .button-group button,
  .form-group button {
    padding: 14px 28px; /* Padding mais compacto para dispositivos pequenos */
    font-size: 14px; /* Ajuste do tamanho da fonte */
  }

  .button-group label,
  .form-group label {
    font-size: 14px; /* Ajuste do tamanho dos rótulos */
  }
}


nav {
  display: flex; /* Usa flexbox para alinhar a logo e o menu */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Alinha verticalmente */
  position: relative; /* Para posicionar o menu */
  margin: 0 20px; /* Margem nas laterais para evitar corte */
}

nav .logo {
  margin-right: 20px; /* Espaço entre a logo e o menu */
  color: #fff; /* Ajuste a cor conforme necessário */
}

nav .menu-toggle {
  margin: 3px; /* Espaçamento vertical entre as linhas */
  transition: transform 0.3s ease; /* Transição suave */
  cursor: pointer; /* Cursor de pointer ao passar o mouse */
}

/* Criação das linhas antes e depois */
nav .menu-toggle:before,
nav .menu-toggle:after {
  content: ""; /* Cria linhas antes e depois */
  display: block;
  width: 30px; /* Largura das linhas */
  height: 3px; /* Espessura das linhas */
  background-color: #fff; /* Cor das linhas brancas */
  margin: 3px auto; /* Espaçamento entre as linhas */
  transition: transform 0.3s ease; /* Transição suave */
}

/* Exibição do menu */
nav ul {
  list-style: none; /* Remove o marcador padrão */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: none; /* Esconde o menu por padrão */
  flex-direction: column; /* Direção vertical do menu */
  opacity: 0; /* Começa invisível */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave */
  transform: translateY(-10px); /* Mover um pouco para cima */
}

nav ul.active {
  display: flex; /* Mostra o menu quando ativo */
  opacity: 1; /* Torna o menu visível */
  transform: translateY(0); /* Reseta o movimento */
}

nav ul li {
  margin: 5px 0; /* Espaçamento vertical entre os links */
}

/* Adicionando espaço acima do primeiro link */
nav ul li:first-child {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Coloca logo e menu em coluna */
    align-items: flex-start; /* Alinha à esquerda */
  }

  nav ul {
    width: 100%; /* Largura total do menu */
    margin: 0; /* Remove margin */
    padding: 0 20px; /* Adiciona padding nas laterais */
  }

  nav .menu-toggle {
    align-self: flex-end; /* Alinha o botão de menu à direita */
  }
}

/* Animação para o toggle */
nav .menu-toggle.open {
  transform: rotate(45deg); /* Rotaciona a linha principal */
}

nav .menu-toggle.open:before {
  transform: rotate(90deg); /* Rotaciona a linha de cima */
}

nav .menu-toggle.open:after {
  transform: rotate(90deg); /* Rotaciona a linha de baixo */
}



html, body {
  margin: 0;
  margin-top: 0;
  padding-bottom: 0; /* Aumenta o espaço na parte de baixo */
  height: 100%;
}

.blinking-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); /* Subtrai o padding-bottom da altura total da viewport */
}

.blinking-img-container img {
  max-width: 1010px;
  border-radius: 12px;
  width: 100%;
  object-fit: cover; /* Mantém a imagem coberta sem distorção */
  /* Removendo a máscara */
}

.margin-top {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
  margin-bottom: 0;
}

span {
  font-size: 20px;
}
